
.demo-ruleForm{
    width: 400px;
    height: 230px;
    border:1px solid #ccc;
    padding-top:50px;
    border-radius:10px;
    box-shadow:2px 2px 2px #1ab394,-2px -2px 2px #1ab394;
    margin:100px auto;
}
.el-input__inner{
    width:200px !important;

}