.z_footer{
    height: 100px;
    ul{
        background-color:#fff;
        border-top:0.013333rem solid #EAEAEA;
        display:flex;
        justify-content:space-around;
        padding:0.186667rem 0;
        li{
            display:flex;
            flex:1;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            i{
                font-size:0.533333rem;
                margin-bottom:0.106667rem;
            }
            span{
                font-size:0.4rem;
            }
        }

    }
}