$btcolor:#188AF9;
body{
    height: 100%;
    background-color:#F5F5F5;
    display:flex;
    flex-direction:column;
    .mine_content{
        height: 100%;
    }
}
#m_header{
    height: 502px;
    background-color:#fff;
    margin-bottom:28px;
    .h_top{
        height: 213px;
        img{
            width: 100%;
            height: 100%;
            display:block;
            background:url('../../../assets/bgpit.png') no-repeat;
            background-size:cover;
            background-position:center;
        }
        

    }
    .h_center{
        height: 54px;
        display:flex;
        justify-content:center;

    }
    .h_bot{
        display:flex;
        flex-direction:column;
        height: 235px;
        >p:nth-child(1){
            height: 117px;
            text-align:center;
            font-size:30px;
            font-weight:bold;
            line-height: 117px;
            margin: 0;
        }
        .minebtn{
            flex:1;  
            margin-top:10px;
            text-align:center;    
            font-size:30px;
            span{
                font-size:28px;
                padding:12px 40px;
                background-color:$btcolor;
                color:#fff;
                border-radius:20px;
            }
        }
    }
    .toux{
        margin-top:-54px;
        display:block;
        height: 128px;
        width: 128px;
        border-radius:50%;
        background:url('../../../assets/toux.png') no-repeat;
    }
}
#m_main{
        flex:1;
        // overflow:auto;
    ul{
            background-color:#fff;
        li{
                font-size:32px;
            p{
                 i:nth-child(1){
                     position:absolute;
                     top:40px;
                     left:30px;   
                 }
                i:nth-child(2){
                    position:absolute;
                     top:40px;
                    right:40px;
                 }
                    position:relative;
                    padding:35px 80px;
                    border-bottom:1px solid #EAEAEA;
           }
        }
    }
   
        >ul:nth-child(1){
         margin-bottom:28px; 
    }
}