$btcolor:#188AF9;
body{
    height: 100%;
    .mine_content{
        height: 100%;
        display:flex;
        flex-direction:column;
        background-color:#F5F5F5;
    }
}
#m_header{
    height: 6.693333rem;
    background-color:#fff;
    margin-bottom:0.373333rem;
    .h_top{
        height: 2.84rem;
        img{
            width: 100%;
            height: 100%;
            display:block;
            background:url('../../../assets/imgs/bgpit.png') no-repeat;
            background-size:cover;
            background-position:center;
        }
        

    }
    .h_center{
        height: 0.72rem;
        display:flex;
        justify-content:center;

    }
    .h_bot{
        display:flex;
        flex-direction:column;
        height: 3.133333rem;
        >p:nth-child(1){
            height: 1.56rem;
            text-align:center;
            font-size:0.4rem;
            font-weight:bold;
            line-height: 1.56rem;
            margin: 0;
        }
        .minebtn{
            flex:1;  
            margin-top:0.133333rem;
            text-align:center;    
            font-size:0.4rem;
            span{
                font-size:0.373333rem;
                padding:0.16rem 0.533333rem;
                background-color:$btcolor;
                color:#fff;
                border-radius:0.266667rem;
            }
        }
    }
    .toux{
        margin-top:-0.72rem;
        display:block;
        height: 1.706667rem;
        width: 1.706667rem;
        border-radius:50%;
        background:url('../../../assets/imgs/toux.png') no-repeat;
    }
}
#m_main{
        flex:1;
        // overflow:auto;
    ul{
            background-color:#fff;
        li{
                font-size:0.426667rem;
            p{
                 i:nth-child(1){
                     position:absolute;
                     top:0.533333rem;
                     left:0.4rem;   
                 }
                i:nth-child(2){
                    position:absolute;
                     top:0.533333rem;
                    right:0.533333rem;
                 }
                    position:relative;
                    padding:0.466667rem 1.066667rem;
                    border-bottom:1px solid #EAEAEA;
           }
        }
    }
   
        >ul:nth-child(1){
         margin-bottom:0.373333rem; 
    }
}