body{
    display:flex;
    flex-direction:column;
    #r_header{
        height: 93px;
        display:flex;
        border-bottom:1px solid #EAEAEA;
        li{
            flex:1;
            line-height: 93px;
            font-size:30px;
            text-align:center;
            span{
                padding:20px 15px;
            }
        }
        .active{
            border-bottom:5px solid #029FE9;
        }  
    }
    #r_main{
        flex:1;
        // img{
        //     margin:200px auto 100px;
        //     width: 408px;
        //     height:243px;
        //     background:url('../../../assets/no-data.png') no-repeat;
        // }
        // >p{
        //     font-size:45px;
        //     font-weight:bold;
        //     text-align:center;
        // }
    }
}