/* 
* @Author: Marte
* @Date:   2017-09-13 17:00:41
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-13 17:59:50
*/
/*重置样式表*/
/*==========样式重置===========*/
html,body{
    width:100%;
    height:100%;
}
body,h1,h2,h3,h4,p,a,input,img,ul,li,ol,dl,dt,dd{
    padding:0;
    margin:0;}
ul,ol{
    list-style:none;}
img{
    display:block;
    border:0;}
input{
    outline:none;}
header,footer,section,main,nav{
    display:block;}
body{
    font-size:12px;
    font-family:"微软雅黑";
    color:#3e3e3e;}
a{
    text-decoration:none;
    color:#0dc441;}
*{box-sizing:border-box;}

