#containers{
    height:100%;
    background:#ccc;
    display:flex;
    position:relative;
    flex-direction:column;
    .z_top{
        height:1.066667rem;
        width: 100%;
        opacity:1;
        position:absolute;
        left:0;
        top:0;
        z-index:1;
        padding:0.133333rem;
        span{
            font-size:0.4rem;
            color:#fff;
            margin-right:1.333333rem;
        }
        .io{
            position:absolute;
            left:0.986667rem;
            color:#fff;
            top:0.8rem;
            font-size:0.453333rem;
        }
        input{
            height: 0.746667rem;
            width:6.666667rem;
            padding-left:0.666667rem;
            font-size:0.453333rem;
            border-radius:0.373333rem;
        }
        .it{
            position:absolute;
            left:2.666667rem;
            top:0.8rem;
            font-size:0.453333rem;
        }
    }
    .z_banner{
        height:4.0rem;
        overflow:hidden;
        position:relative;
        z-index:0;
    }
    .z_nav{
        height: 2.666667rem;
        display:flex;
        background:#fff;
        margin-bottom:0.266667rem;
        ul{
           display:flex;
           overflow:auto;
           flex:1;
           li{
            width: 25%;
            display:flex;
            flex-direction:column; 
            justify-content:center;
            align-items:center;
            img{
                height: 1.306667rem;
                width: 1.306667rem;
                margin-bottom:0.24rem;
                border-radius:50%;
            }
            a{
                font-size:0.373333rem;
                color:#5A647A;
            }
           }
        }
    }
    .z_main{
        display:flex;
        padding:0 0.266667rem;
        flex:1;
        background:#fff;
        ul{
            flex:1;
            overflow:auto;
            flex-direction:column;
            li{
                height: 25%;
                padding:0.266667rem 0.0rem;
                border-bottom:0.013333rem solid #ccc;
                display:flex;
                img{
                    height:1.6rem;
                    width:1.6rem;
                    margin-right:0.293333rem;
                }
                .zmr{
                    flex:1;
                    display:flex;
                    flex-direction:column;
                    height:100%;
                    .one{
                        .fl{
                            font-size:0.453333rem;
                            float:left;
                        }
                        .fr{
                            font-size:0.32rem;
                            color:#BDC9DA;
                            float:right;
                        }
                    }
                    .two{
                        color:#BDC9DA;
                        font-size:0.32rem;
                        margin:0.133333rem 0;
                    }
                    .three{
                        font-size:0.346667rem;
                        .t1,.t2{
                            color:#BDC9DA;
                            margin-right:0.933333rem;
                            
                        }
                        .t3{
                            color:#F96969;
                            float:right;
                        }
                    }
                }
            }
        }
    }
}
