#container{
    height:100%;
    background:#ccc;
    display:flex;
    position:relative;
    flex-direction:column;
    .z_top{
        height:80px;
        width: 100%;
        opacity:1;
        position:absolute;
        left:0;
        top:0;
        z-index:1;
        padding:10px;
        span{
            font-size:30px;
            color:#fff;
            margin-right:100px;
        }
        .io{
            position:absolute;
            left:74px;
            color:#fff;
            top:22px;
            font-size:34px;
        }
        input{
            height: 56px;
            width:500px;
            padding-left:50px;
            font-size:34px;
            border-radius:28px;
        }
        .it{
            position:absolute;
            left:188px;
            top:22px;
            font-size:34px;
        }
    }
    .z_banner{
        height:300px;
        overflow:hidden;
        position:relative;
        z-index:0;
    }
    .z_nav{
        height: 200px;
        display:flex;
        background:#fff;
        margin-bottom:20px;
        ul{
           display:flex;
           overflow:auto;
           flex:1;
           li{
            width: 25%;
            display:flex;
            flex-direction:column; 
            justify-content:center;
            align-items:center;
            img{
                height: 98px;
                width: 98px;
                margin-bottom:18px;
                border-radius:50%;
            }
            a{
                font-size:28px;
                color:#5A647A;
            }
           }
        }
    }
    .z_main{
        display:flex;
        padding:0 20px;
        flex:1;
        background:#fff;
        ul{
            flex:1;
            overflow:auto;
            flex-direction:column;
            li{
                height: 25%;
                padding:20px 0px;
                border-bottom:1px solid #ccc;
                display:flex;
                img{
                    height:120px;
                    width:120px;
                    margin-right:22px;
                }
                .zmr{
                    flex:1;
                    display:flex;
                    flex-direction:column;
                    height:100%;
                    .one{
                        .fl{
                            font-size:34px;
                            float:left;
                        }
                        .fr{
                            font-size:24px;
                            color:#BDC9DA;
                            float:right;
                        }
                    }
                    .two{
                        color:#BDC9DA;
                        font-size:24px;
                        margin:10px 0;
                    }
                    .three{
                        font-size:26px;
                        .t1,.t2{
                            color:#BDC9DA;
                            margin-right:98px;
                            
                        }
                        .t3{
                            color:#F96969;
                            float:right;
                        }
                    }
                }
            }
        }
    }
}
