#container{
    height: 100%;
    display:flex;
    background:#fff;
    flex-direction:column;
    #zs_head{
        display:flex;
        justify-content:space-between;
        padding:14px 30px;
        input{
            font-size:26px;
            background:#ccc;
            color:#000000;
            height: 60px;
            outline:none;
            float:left;
            border-radius:15px;
        }
        #text{
            width: 540px;
            padding-left:40px;
        }
        #search{
            padding:0 35px
        }
    }
    #zs_nav{
        >ul{
            height: 98px;
            display:flex;
            .sa{
                flex:1;
                border:1px solid #ccc;
                position:relative;
                .si{
                    position:absolute;
                    bottom:8px;
                    right:8px;
                    font-size:22px;
                }
                >ul{
                    position:absolute;
                    display:none;
                    left: 0;
                    top:100%;
                    width:100%;
                    background:#fff;
                    >li{
                        font-size:24px;
                        float:none;
                        line-height:30px;
                        padding:20px 0 20px 10px;
                        border-bottom:1px solid #ddd;
                        &:hover{
                            background:#ccc;
                        }
                    }
                }
                
            }
            >li:last-child{
                width: 78px;
                border:1px solid #ccc;
            }
            >li{
               display:flex;
               justify-content:center;
               align-items:center;
               a{
                    font-size:30px;
                    color:#000;
               }
            }
        }
    }
    #zs_main{
        flex:1;
        background:#EAEAEA;
        padding-top:36px;
        padding-left:30px;
        h1{
            font-size:30px;
            margin-bottom:32px;
        }
        ul{
            display:flex;
            flex-wrap:wrap;
            li{
                width: 110px;
                padding-top:8px;
                text-align:center;
                height:46px;
                margin-right:34px;
                margin-bottom:30px;
                border-radius:20px;
                border:1px solid #CCC;
                span{
                    font-size:20px;
                    color:skyblue;
                }
            }
        }
    }
}