.i_container{
    height: 100%;
    display:flex;
    flex-direction:column;

    #i_header{
        height:88px;
        display:flex;
        li{
            flex:1;
            line-height: 88px;
            font-size:34px;
            background-color:#188AF9;
            color:#fff;
            border:0;
        }
        li:nth-child(2){
            text-align:center;
        }
        li:nth-child(3){
            text-align:right;
        }
    }

    #i_main{
        flex:1;
        background-color:#F5F5F5;
        li{
            background-color:#fff;
            display:flex;
            font-size:30px;
            padding:30px 30px;
            // padding-left:30px;
             border-bottom:1px solid #EAEAEA;
             label{
                flex:1.5;
             }
             input{
                flex:5;
                border:0;
                font-size:30px;
                text-align:right;
             }
             img{
                width: 110px;
             }
             i{
                text-align:right;
                line-height: 40px;
                flex:0.5;
             }
        }
        li:nth-child(1){
            padding: 0 30px;
            line-height: 147px;
         img{
            height: 110px;
            margin-top:20px;
         }
         i{
            flex:0.15;
            line-height: 147px;
         }
        }
        li:nth-child(5n){
            margin-top:30px;
        }
        }
}