#forum{
    height: 100%;
    display:flex;
    flex-direction:column;
    #f-header{
        height: 2.015625rem;
        background-color:#F7F8F9;
        border-bottom:0.015625rem solid #888888;
        display:flex;
        justify-content:center;
        position:relative;
        .f-title{
            font-size:0.625rem;
            font-weight:bold;
            padding-top:1.03125rem;
            color:#40516B;
        }
        >i{
            position:absolute;
            font-size:0.78125rem;
            color:#3887FD;
        }
        .f-search{
            right:1.875rem;
            top:1.09375rem;
        }
        .f-edit{
            right:0.234375rem;
            top:1.09375rem;
        }
    }
    #f-nav{
        height: 1.34375rem;
        background-color:#F7F8F9;
        display:flex;
        >li{
            flex:1;
            text-align:center;
            line-height:0.859375rem;
            >span{
                font-size:0.515625rem;
                color:#A4B0B7;
                padding:0.34375rem 0;
                &.fActive{
                    color:#438DFC;
                    border-bottom:0.03125rem solid #438DFC;
                    font-weight:bold;
                }
            }
        }
    }
    #f-main{
        flex:1;
        overflow-x:hidden;
        .el-carousel{
            height:4.0rem;
            .el-carousel__item img {
                width:100%;
            }

            .el-carousel__item:nth-child(2n) {
                 background-color: #99a9bf;
            }
              
            .el-carousel__item:nth-child(2n+1) {
                 background-color: #d3dce6;
            }   
        }
        .forum-list{
            >li{
                border-top:0.015625rem solid #CCC;
                margin-left:0.46875rem;
                margin-top:0.46875rem;
                display:flex;
                .fl-imgbox{
                    width:1.5625rem;
                    height:1.5625rem;
                    border:1px solid #ccc;
                    border-radius:50%;
                    >img{
                        width: 100%;
                        border-radius:50%;
                    }
                }
                .fl-info{
                    flex:1;
                    padding-left:0.3125rem;
                    >h4{
                        font-size:0.46875rem;
                        padding-top:0.15625rem;
                    }
                    >p{
                        font-size:0.4375rem;
                        padding-top:0.15625rem;
                    }
                    >img{
                        width: 100%;
                        padding-top:0.15625rem;
                    }
                    >h5{
                        font-size:0.375rem;
                        margin:0.15625rem 0;
                        font-weight:normal;
                        display:flex;
                        justify-content:space-between;
                        position:relative;
                        .info-like{
                            padding-left:0.3225rem;
                        }
                        .info-forum{
                            padding-right:0.46875rem;
                        }
                        .info-time{
                            padding-left:0.15625rem;
                        }
                        .like{
                            font-size:0.5rem;
                            position:absolute;
                            left:4.471875rem;
                            top:0;
                        }
                        .news{
                            font-size:0.5rem;
                            position:absolute;
                            left:6.09375rem;
                            top:0;
                        }
                    }
                }
            }
        }
    }
    #f-footer{
        height:1.546875rem;
        background-color:#EEECE9;
    }
}