#service{
    height:100%;
    display:flex;
    flex-direction:column;
    .sev-header{
        height:2.0rem;
        background-color:#F8F8F8;
        position:relative;
        .sev-back{
            position:absolute;
            left:0.484375rem;
            top:0.9375rem;
            color:#548AF7;
            font-weight:bold;
            font-size:0.625rem;
        }
        >h3{
            font-size:0.59375rem;
            color:#435169;
            text-align:center;
            padding-top:0.9375rem;
        }
    }
    .sev-main{
        flex:1;
        overflow-x:hidden;
        >li{
           display:flex;
            margin:0.3125rem;
           .sev-imgbox{
                width:1.5625rem;
                height:1.5625rem;
                border:0.015625rem solid #ddd;
                border-radius:50%;
                margin:0.15625rem;
                >img{
                    border-radius:50%;
                    width: 100%;
                }
           }
           >p{
                flex:1;
                font-size:0.390625rem;
                border:0.03125rem solid #ddd;
                background-color:#F2F2F7;
                border-radius:5%;
                padding:0.078125rem;
           }
           &.active{
                flex-direction:row-reverse;
           }
        }
    }
    .el-input{
        height:1.140625rem;
        .el-input__inner{
            height:100%;
            font-size:0.5rem;
        }
    }
    .sev-footer{
        height:1.375rem;
        background-color:#FFFFFF;
        display:flex;
        >dt{
            flex:1;
            text-align:center;
            line-height:1.375rem;
            font-size:0.78125rem;
        }
    }
}